{% extends 'base.html'%}

{% block content%} 


<article class="article text-center mt-4">
    <h1>About this site</h1> 
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis illo temporibus quisquam, repellendus fuga molestiae distinctio praesentium pariatur nam doloremque ducimus reprehenderit excepturi esse necessitatibus aliquid recusandae, autem fugiat placeat?</p>
    
</article>

<div class="image">
<img src="/app/static/images/image1.jpg" alt=""  >
</div>






{% endblock%}


