<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
{%extends 'base.html'%}
{% block content %} 
<div class="container-fluid">
    <h3>Pitch</h3>
    <ul >
        <div style="display: flex;flex-wrap: wrap;gap: 2rem;">
            {% for item in news %}
            <div style="flex: 0 1 30rem">                              
                <img style="height: 20rem;" src="app/static/images/image1.jpg" alt="">
                <form action=""></form>
                <h2>{{item.title|truncate(25)}}</h2> 
                <p class="p-3">{{item.description}}</p>                
            </div>

{% endfor %}            
        </div>

    </ul>
</div>
{% endblock %}  
</body>
</html>




